@import "tailwindcss";

<<<<<<< HEAD
=======
* {
  font-family: Poppins, sans-serif;
}

.input-with-icon {
  background: url('icon.svg') no-repeat 10px center;
  background-size: 16px; 
  padding-left: 40px; 
  padding-bottom: 10px;
}

.lock {
  background: url('lock.svg') no-repeat 9px center;
  background-size:20px; 
  padding-left: 40px; 
  padding-bottom: 10px;
}


>>>>>>> 45-create-login-page
